$body-font: 'Poppins', sans-serif;
$second-font: 'Butcherman', cursive;

$header-height: 3.5rem;

$first-color: hsl(22, 72%, 50%);
$first-color-alt: hsl(22, 72%, 46%);
$white: #fff;
$text-color: hsl(22, 4%, 75%);
$text-color-light: hsl(22, 4%, 55%);
$body-color: hsl(22, 8%, 6%);
$container-color: hsl(22, 8%, 7%);

$biggest-fs: 2rem;
$h1-fs: 1.5rem;
$h2-fs: 1.25rem;
$h3-fs: 1rem;
$normal-fs: .938rem;
$small-fs: .813rem;
$smaller-fs: .75rem;

$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

$z-tooltip: 10;
$z-fixed: 100;